#page-create-point{
    width: 90%;
    max-width: 1100px; /*largura max da tela*/

    /*alinhamento de caixa*/
    margin:0 auto;
}

#page-create-point header{
    margin-top: 48px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span{
    margin-right: 16px;
    background-image: url("../assets/arrow-left.svg");

    display: flex;
    /*tamaanho da imagem/ alterei a cor da imagem na pasta assets*/
    width: 20px;
    height: 24px;
}

form{
    background-color: white;
    margin:80px auto;


    /*margem do topo*/
    margin-top: 80px;
    
    /*padding = preenchimento interno */
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;

    
}

/*style no Formulario*/

form h1{

    font-size: 36px;
}

form fieldset{
    margin-top: 64px;

    border: 0;
}

form legend{

    margin-bottom:40px ;

    display:flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend span {
    color: var(--title-color);
    font-size: 14px;
    

}

form legend h2{
    font-size: 24px;
}

form .field {
    flex:1;
    /*so pra lembrar, o display-flex deixa a propriedade flexivel*/
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
    
}

form input,
form select {
    background-color: #f0f0f5;

    border:0;
    
    padding:16px 24px;
    font-size: 16px;
    /*outline: none;  para tirar a linha preta ao clicar */

    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form label{

    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border:0 ;

    margin-top:40px;
    
    transition: background-color 400ms;
}

form button:hover{
    background-color: #2fb86e;
}


/* ítens de coleta/ as 6 li */

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*para calcular 3 colunas em cada linha*/
    gap:16px; /*para separar os 'li' do grid*/
}

.items-grid li{

    background-color: #e9e6e6;
    list-style: none; /*para tirar a bolinha do li*/

    border:2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
   
    /* nessa parte o flex direction: column esta mudando o padrao do justify-content: space-between; que antes era da esquerda para a direira e agora é de cima para baixo*/
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    text-align: center;

    cursor: pointer; /*colocar a "maozinha" no item clicavel*/
}

.items-grid li span{
    flex:1; /*para preencher o tamho sozinho*/

    display:flex;
    align-items: center;

    color: var(--title-color);

}

/*pegue todos li que tenha a class selected*/
.items-grid li.selected{
    background-color: #e1faec;
    border:2px solid #34cb79;

}
/* tirando o evento de pointer na imagem e no span detro do li*/
.items-grid li img,
.items-grid li span{
    pointer-events: none;
}
